@{
    ViewData["Title"] = "Admin Panel";
    Layout = "Layout";
}

<h2>Admin Panel</h2>

<ul>
    <li><a href="@Url.Action("ManageProducts", "Admin")">Manage Products</a></li>
    <li><a href="@Url.Action("OrderManagement", "Admin")">Order Management</a></li>
    <li><a href="@Url.Action("UserManagement", "Admin")">User Management</a></li>
    <li><a href="@Url.Action("Discounts", "Admin")">Discounts</a></li>
    <li><a href="@Url.Action("InventoryManagement", "Admin")">Inventory Management</a></li>
    <li><a href="@Url.Action("UserStatistics", "Admin")">User Statistics</a></li>
    <li><a href="@Url.Action("SalesReport", "Admin")">Sales Report</a></li>
</ul>
