@{
    ViewData["Title"] = "Admin Panel";
    Layout = "Layout";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
<h2>Admin Panel</h2>

<div class="admin-panel-buttons">
    <a href="@Url.Action("ManageProducts", "Admin")">Manage Products</a>
    <a href="@Url.Action("OrderManagement", "Admin")">Order Management</a>
    <a href="@Url.Action("UserManagement", "Admin")">User Management</a>
    <a href="@Url.Action("Discounts", "Admin")">Discounts</a>
    <a href="@Url.Action("InventoryManagement", "Admin")">Inventory Management</a>
    <a href="@Url.Action("UserStatistics", "Admin")">User Statistics</a>
    <a href="@Url.Action("SalesReport", "Admin")">Sales Report</a>
</div>

<button id="cleanExpiredButton" class="btn btn-danger">Clean Expired 'New' Products</button>